<div class="container-fluid">
<div class="row-fluid">

<div class="span12">
<%= render 'shared_partials/title', :title => @corp.name %>
</div>

<div class="row-fluid">

<div class="span3">
<%= render 'sidebar' %>
</div>
    
<div class="span9">
<%= render 'main' %>
</div>

</div>

</div>
</div>
