<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h2>Company Logo</h2>

  <h3>
    Tagline!
  </h3>

  <h4>
    This website is a demonstration of the organization and display of profit and losses from a security trading account.  At this point all the data has been seeded.  
  </h4>

  <%#= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
