<%= render 'list' %>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed table-bordered">

<%= render 'shared_partials/trade_table_head' %>
<% @profitability.first.trades.each do |trade| %>
  <%= render 'shared_partials/trade_table', :trade => trade %>
<% end %>

</table>
